@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300|Quattrocento:400,700);

* {
  box-sizing: border-box;
}

.main {
  -webkit-flex-direction: column;
}


html, body {
  font-size: 16px;
  height: 100%;
}

/* css zen gardens body id */
#css-zen-garden {
  background-color: lightblue;
  font-family: 'Quattrocento', serif;
}

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
  color: #2C3E50;
}


/* intro section */
/* Background pattern from subtlepatterns.com */
.intro {
  background: url('wild_flowers.png');
  padding: 25px;
}

.intro header {
  background: url('zen-background.png') no-repeat;
  background-size: cover;
  padding: 10px;
  border: 2px solid green;
}

.summary {
  background: #2ecc71;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #000;
}

.preamble {
  background: #27ae60;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #000;
}






/* main div FLEX CONTAINER */
.main {
  background: #ecf0f1;
  padding: 25px;
  display: flex;
  flex: 1;
  -webkit-flex-wrap: wrap;
}

.explanation {
  -webkit-flex: 1;
  background: yellow;
  padding: 10px;
  border: 2px solid #000;
}
.explanation:hover {
  -webkit-flex: 3;
  transition: 2s;
}
.participation {

  -webkit-flex: 1;
  background: blue;
  padding: 10px;
  border: 2px solid #000;
}

.benefits {

  -webkit-flex: 1;
  background: green;
  padding: 10px;
  border: 2px solid #000;
}

.requirements {

  -webkit-flex: 1;
  height: 100%;
  background: purple;
  padding: 10px;
  border: 2px solid #000;
}

footer {
  flex-direction: row;
  -webkit-flex: 1;
  background: firebrick;
  padding: 10px;
  border: 2px solid #000;
  margin-left: auto;
}

/* sidebar */
.sidebar {
  background: #e67e22;
  padding: 25px;
}

.wrapper {
  max-width: 400px;
}

.design-selection {
  background: lightblue;
  padding: 10px;
  border: 2px solid #000;
}

.design-archives {
  background: lightblue;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #000;
}

.zen-resources {
  background: lightblue;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #000;
}



@media screen and (min-width: 800px) {
  h1 {
    font-size: 75px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 45px;
  }

  h4 {
    font-size: 30px;
  }

  .main {
    -webkit-flex-direction: row;
  }

}
