@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300|Quattrocento:400,700);

/* SMACSS
================================ */

/*
- Base Rules
  - Define all default styles and how they should look no matter where they are on the page.
  - Applied directly to element selectors - not classes or IDs
  - Can be used as a CSS reset
================================ */
* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
    font-family: Quattrocento, Georgia, "Times New Roman", serif;
    background: url(road-background.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

h1,
h2,
h3 {
  font-family: Oswald, Helvetica, Arial, sans-serif;
  color: #ccc;
  line-height: 1.3;
  letter-spacing: 0.08em;
  font-weight: 400;
  text-align: center;
  text-shadow: 5px 5px 20px #000;
}

h3 {
  margin-bottom: 60px;
}

p {
  color: #fff;
}

/*- Layout Rules
  - Divide the page into the major components: header, main footer, sidebar, grid, etc..
  - These components can contain one or more modules
================================ */

/*- Module Rules
  - The reusable modular components - or minor the components
  - Each module should exist as a standalone component
  - Can be easily moved throughout the layout without breaking
  - Avoid IDs and element selectors - only use class names
  - Subclassing Module Rules
    - If we need to change the look of a module to use in other parts of the site, sub-class it
    - Avoid creating a new, conditional style based on location
================================ */

/*- State Rules
  - Define how modules look when in a particular state
  - Collapsed/expanded, success/error, :hover/:active
  - They augment or override other styles
  - Can apply to Layout or Module styles
  - Can be used with pseudo-classes, medua queries, or JavaScript
  ================================ */

/*- Theme Rules
  - Define the color scheme and typography
  - Similar to state rules - describe how the layout or modules might look
  - Separate themes into their own set of styles so that they're easies to modify
  - Optional rules - we may not have a need for themes in our project
  ================================ */

/* Web Fonts
================================ */
/*@font-face {
  font-family: "Abolition Regular";
  src: url('abolition-regular-webfont.eot');
  src: url('abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('abolition-regular-webfont.woff') format('woff'),
       url('abolition-regular-webfont.ttf') format('truetype');
}*/

/* LOOK UP ON HOW TO REMOVE THE BOTTOM BORDER, NORMALIZE OVERWRITES IT...

abbr {
  border-bottom: 0;
}*/

/* css zen gardens body id
================================ */


/* intro section
================================ */

.intro header {
  padding: 25px 0;
  /*background-color: #c1c2c2;
  background: linear-gradient(#1E824C, transparent 90%), linear-gradient(0deg, #fff, transparent), url(zen-background.png) no-repeat center;
  background-size: 100%;
  box-shadow: 0 20px 20px -12px #000;*/
}

.intro h1 {
  color: #1E824C;
  text-shadow: 2px 5px 0 #000;
}

p {
  font-size: 1em;
  max-width: 725px;
  margin: 0 auto;
  line-height: 1.5;
  /* Best to use a unitless value for line-height. Source: Guil Hernandez, Teamtreehouse */

  /*
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5;
  font-family: Georgia;

  The Shorthand

  font: 700 1em/1.5 Georgia*/
}

.summary p::first-letter {
  color: red;
  font-size: 2em;
}
.summary a:nth-child(1)::after {
  content: url(html-512.png)
}
.summary a:nth-child(2)::after {
  content: url(css-512.png);
}

.preamble {
  padding: 50px 25px;
  /*background: radial-gradient(circle at top right, yellow 15%, #3498db 40%);*/
}

.preamble p {
  margin: 0 auto;
  max-width: 700px;
}




















































/* main div FLEX CONTAINER
================================ */
.main {
  /*background: #ecf0f1;*/
}

.explanation {
  padding: 50px 25px;
  /*background: #16a085;*/
}

.participation {
  padding: 50px 25px;
  /*background: #2980b9;*/
  transition: 3s;
}
.participation:hover {
  /*background: #9b59b6;*/
}

.benefits {
  padding: 50px 25px;
  /*background: #16a085;*/
}
.requirements {
  padding: 50px 25px;
  /*background: #2980b9;*/
}

footer {
  background: firebrick;
  height: 200px;
  bottom: 0;
}



























/* Sidebar
================================ */
.sidebar {
  background: #f39c12;
}

.design-selection {
  background: lightblue;
}

.design-archives {
  background: lightblue;
}

.zen-resources {
  background: lightblue;
}

/*.explanation,
.participation,
.benefits,
.requirements,
footer {
  width: 20%;
  float: left;
}


.main:after {
  content: "";
  display: table;
  clear: both;
}*/








/* ul li tricks */
.sidebar ul {
  list-style-type: none;
  border: 1px solid black;
  list-style-position: inside;
  padding-left: 0;
}


@media screen and (min-width: 800px) {
  h1 {
    font-size: 6.25em;
  }

  h2 {
    font-size: 3.75em;
  }

  h3 {
    font-size: 2.8125em;
  }
  p {
    font-size: 1.3em;
  }
  .page-wrapper::after {
    content: "";
    display: table;
    clear: both;
  }
  .main {
    max-width: 70%;
    float: left;
  }
  .sidebar {
    max-width: 30%;
    float: right;
  }
  .intro h1 {
    color: #1E824C;
    text-shadow: 2px 5px 0 #000;
    transition: margin-left 2s, color 0.8s;
  }
  .intro h1:hover {
    margin-left: 300px;
    color: #C8F7C5;
  }
  .main {
    max-width: 960px;
  }
  .main div:nth-of-type(1n+1), aside {
    max-width: 960px;
    margin: 0 auto;
  }
}
