@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300|Quattrocento:400,700);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700);

/*
FLAT COLORS
Lightblue (PETER RIVER) #3498db rgba(52, 152, 219,1.0)
White (Clouds) #ecf0f1 rgba(236, 240, 241,1.0)
Midnight Black: #2c3e50
Dark White: #bdc3c7
Green (NEPHRITIS) #27ae60
*/

* {
  margin: 0;
  padding: 0;
}

a {
  color: #663399; /* Rebbecca Purple */
}

a:hover {
  color: #674172;
}

html {
  border: 15px solid #34495e;
  padding: 25px;
}

html::before {
  content: "HTML";
  position: absolute;
  top: 0;
  background: #3498db;
  padding: 0 5px;
}

body {
  border: 15px solid #f39c12;
  padding: 50px;
  background-color: #000;
  background-image:
    radial-gradient(2px 2px at 15px 25px, #bfbfbf, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 35px 65px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 50px 160px, #6C7A89, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 150px 130px, #6C7A89, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 180px 180px;


  font-family: 'Oswald';
}

body::before {
  content: "Body";
  position: absolute;
  top: 40px;
  background: #3498db;
  padding: 0 5px;
}

h1,
h2,
h3 {
  margin: 0;
  color: #8e44ad;
  font-family: 'Oswald';
}

header {
  background: #ecf0f1;
  padding: 25px;
  border: 20px solid #27ae60;
  outline: 3px dotted #2c3e50;
  outline-offset: 30px;
  margin-bottom: 150px;
}

header h1 {
  font-size: 7vw;
  padding-top: 15px;
  padding-left: 15px;
  border-top: 2px dotted #f39c12;
  border-left: 2px dotted #f39c12;
  border-right: 2px dotted #f39c12;
  position: relative;
}

header h2 {
  font-size: 5vw;
  padding-left: 15px;
  padding-bottom: 15px;
  border-left: 2px dotted #f39c12;
  border-right: 2px dotted #f39c12;
  border-bottom: 2px dotted #f39c12;
  margin-top: 2px;
}

h1::before {
  content: "Content";
  font-size: 1.5vw;
  top: 2px;
  position: absolute;
  color: #000;
}

header::after {
  content: "Padding";
  font-size: 1.5vw;
  position: absolute;
}

header::before {
  content: "Border";
  font-size: 1.5vw;
  position: absolute;
  top: 0;
}

.intro::before {
  content: "Margin";
  font-size: 1.5vw;
  position: absolute;
  top: -25px;;

}

.intro {
  position: relative;
}


/* Summary */
.summary {
  padding: 25px 0 100px;
  font-size: 4vw;
}

.summary p {
  color: #ffd700;
  transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
  text-align: center;
}


/* make keyframes that tell the start state and the end state of our object, @ is not implemented and does not validate but does work */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.summary p {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
}


/* Preamble */
.preamble {
  background: url(road-to-enlightenment.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 15px;
  padding: 50px;
  text-align: center;
  color: #000;
  border-radius: 50%;
  height: 800px;
  width: 800px;
  margin: 0 auto;
}

.preamble h3 {
  font-size: 5vw;
  color: #4B77BE;
}

.preamble h3::before,
.preamble h3::after,
.preamble p::before,
.preamble p::after {
  font-family: 'Anonymous Pro';
  font-weight: 700;
  color: #EF4836;
}

.preamble h3::before,
.preamble h3::after {
  font-size: 25px;
}

.preamble h3::before {
  content: '<h3>';
}

.preamble h3::after {
  content: '</h3>';
}

.preamble p {
  font-size: 1.5rem;
  margin-top: 25px;
}

.preamble p::before,
.preamble p::after {
  font-size: 25px;
}

.preamble p::before {
  content: '<p>';
}

.preamble p::after {
  content: '</p>';
}


/* Main / Supporting */
.main {
  margin-top: 50px;
}


/* Explanation */
.explanation {
  padding: 50px;
}

.explanation h3 {
  text-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px #000000;
  font-size: 7vw;
  opacity: 0.5;
}

.explanation p {
  font-size: 1.5rem;
  color: #89C4F4;
}


/* Participation */
.participation {
  padding: 50px;
  color: #fff;
}

.participation h3 {
  font-size: 7vw;
  color: #D0F8FF;
  text-shadow:
    0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
    0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
    0 0 40px #A5F1FF;
  text-align: center;
}

.participation p {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.6;
}

.participation abbr {
  color: green;
  border: none;
  font-size: 1.5rem;
}

.participation a {
  color: pink;
  font-size: 1.6rem;
  text-decoration: none;
}


/* Benefits */
.benefits {
  border: 15px solid #34495e;
  padding: 50px;
  min-height: 250px;
  position: relative;
  margin-bottom: 150px;
}

.benefits::before {
  content: "Clearfix";
  background: #3498db;
  position: absolute;
  padding: 0 5px;
  top: -15px;
  left: 10px;
}

.benefits h3 {
  padding: 10px;
  float: left;
  width: 25%;
  border: 10px solid #8e44ad;
  margin-right: -4px;
  min-height: 250px;
  font-size: 2vw;
  color: #86E2D5;
}

.benefits h3:before {
  content: "Float: Left;";
  top: 0;
  position: absolute;
}

.benefits p {
  padding: 10px;
  float: right;
  width: 60%;
  border: 10px solid #8e44ad;
  margin-left: -4px;
  min-height: 250px;
  color: #86E2D5;
}

.benefits p:before {
  content: "Float: Right;";
  top: 0;
  position: absolute;
  font-weight: bold;
  font-size: 2vw;
}


.benefits::after {
  content: "";
  display: table;
  clear: both;
}


/* Requirements */
.requirements {
  padding: 50px;
}

.requirements h3 {
  font-size: 7vw;
  text-align: center;
  z-index: 100;
  text-transform: uppercase;
  background-image:
    -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
   background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
   color:transparent;
   /* text does not validate but does work! */
   -webkit-background-clip: text;
   background-clip: text;
 }

.requirements h3::before {
  content: " ";
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 180px;
  padding-right: 180px;
  border-radius: 50%;
  min-width: 200px;
  min-height: 200px;
  background-color: rgba(46, 204, 113, 0.7);
}

.requirements p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fffeee;
  margin-top: 2%;
}

.requirements p:last-child::after {
  content: " ";
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-right: 50px;
  border-radius: 50%;
  min-width: 100px;
  min-height: 100px;
  background-color: rgba(241, 196, 15, 0.5)
}

.requirements p:nth-child(3n+1)::after {
  content: " ";
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 90px;
  padding-right: 70px;
  border-radius: 50%;
  min-width: 100px;
  min-height: 100px;
  background-color: rgba(41, 128, 185, 0.6);
}

footer {
  padding-top: 20px;
  padding-bottom: 300px;
  text-align: center;
  position: relative;
  z-index: 10;
  text-align: center;
}

footer::before {
  content: "";
  background-image: url(spaceship.svg);
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-right: -90px;
}

footer a {
  font-size: 5vw;
  text-decoration: none;
  font-weight: 700;
  margin-right: 25px;
}


/* Sidebar */

.sidebar::before {
  content: url('hamburger.svg');
  position: absolute;
  left: 6px;
}

.sidebar {
  height: 550px;
  width: 300px;
  background-color: rgba(145, 61, 136, 0.6);;
  color: white;
  border: 2px solid purple;
  outline: 5px solid teal;
  margin-top: 50px;
  padding: 25px;
  padding-left: 50px;
  position: fixed;
  top: 0px;
  right: -300px;
  transition: all 2s ease;
}

.sidebar li {
  list-style: none;
}

.sidebar a {
  color: #fff;
}

.sidebar:hover {
  top: 0px;
  right: 0px;
  transition: all 2s ease;
}


/* Media queries
============================== */

@media (min-width:1300px) {
  header {
    background: #ecf0f1;
    padding: 55px;
    border: 30px solid #27ae60;
    outline: 3px dotted #2c3e50;
    outline-offset: 40px;
  }

  header h1 {
    padding-top: 25px;
    padding-left: 25px;
  }

  header h2 {
    padding-left: 25px;
    padding-bottom: 25px;
  }

  h1::before {
    top: 5px;
  }

  .intro::before {
    top: -35px;
  }
}
